<div class="bg-gray-100 min-h-screen flex flex-col">
    <!-- Header -->
    <header class="bg-cover bg-center h-64 w-full" style="background-image: url('https://image.lexica.art/full_webp/04cf14e9-1f19-43de-af90-ee1388708c48');">
      <div class="bg-black bg-opacity-50 h-full flex flex-col items-center justify-center">
        <h1 class="text-white text-4xl font-bold">Pagamento</h1>
        <p class="text-white">Finalize sua compra</p>
      </div>
    </header>
  
    <!-- Payment Section -->
    <main class="container mx-auto px-4 py-8 flex-1">
      <h2 class="text-2xl font-bold mb-4">Detalhes do Pagamento</h2>
      <form class="bg-white p-6 rounded shadow-md">
        <div class="mb-4">
          <label for="cardName" class="block text-gray-700 font-semibold mb-2">Nome no Cartão</label>
          <input type="text" id="cardName" class="w-full p-2 border border-gray-300 rounded">
        </div>
        <div class="mb-4">
          <label for="cardNumber" class="block text-gray-700 font-semibold mb-2">Número do Cartão</label>
          <input type="text" id="cardNumber" class="w-full p-2 border border-gray-300 rounded">
        </div>
        <div class="mb-4">
          <label for="expiryDate" class="block text-gray-700 font-semibold mb-2">Data de Validade</label>
          <input type="text" id="expiryDate" class="w-full p-2 border border-gray-300 rounded">
        </div>
        <div class="mb-4">
          <label for="cvv" class="block text-gray-700 font-semibold mb-2">CVV</label>
          <input type="text" id="cvv" class="w-full p-2 border border-gray-300 rounded">
        </div>
        <div class="mb-4">
          <label for="address" class="block text-gray-700 font-semibold mb-2">Endereço</label>
          <input type="text" id="address" class="w-full p-2 border border-gray-300 rounded">
        </div>
        <button (click)="realizarPagamento()" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 block text-center">Realizar Pagamento</button>
      </form>
    </main>
  
    <!-- Footer -->
    <footer class="bg-gray-800 text-white py-4">
      <div class="container mx-auto px-4 text-center">
        <p>Desenvolvido por <a class="hover:text-blue-700 hover:shadow-lg transition" href="http://github.com/JoaoIto">JoaoIto</a> e <a class="hover:text-blue-700 hover:shadow-lg transition" href="http://github.com/thiagoshowza">Thiago Showza</a></p>
      </div>
    </footer>
  </div>
  