<div class="bg-gray-100 min-h-screen flex flex-col">
  <!-- Navbar -->
  <nav class="bg-gray-800 text-white py-4">
    <div class="container mx-auto px-4">
      <div class="flex justify-between items-center">
        <ul class="flex space-x-6">
          <li>
            <a href="/client/correntes" class="hover:text-blue-700 hover:shadow-lg transition">Correntes</a>
          </li>
          <li>
            <a href="/client/aneis" class="hover:text-blue-700 hover:shadow-lg transition">Anéis</a>
          </li>
          <li>
            <a href="/client/pulseiras" class="hover:text-blue-700 hover:shadow-lg transition">Pulseiras</a>
          </li>
        </ul>
        <div class="flex items-center space-x-6">
          <!-- Botão de logout -->
          <button (click)="logout()" class="text-red-400 hover:text-red-700 hover:shadow-lg transition">
            Logout
          </button>
          <!-- Botão do carrinho -->
          <button class="text-white hover:text-gray-400 transition" routerLink="/carrinho" aria-label="Ir para o carrinho">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.857 12.171a2 2 0 001.992 1.829h8.302a2 2 0 001.992-1.829L19 6H6"></path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 6l4-4m0 0l-4 4m4-4L12 14"></path>
            </svg>
          </button>
          <!-- Botão de perfil -->
          <button class="text-white hover:text-gray-400 transition" routerLink="/user" aria-label="Ir para o perfil do usuário">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 21v-2a4 4 0 014-4h10a4 4 0 014 4v2"></path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 7v4m0 0v4m0-4h4m-4 0H8"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </nav>  
  
  <!-- Header -->
  <header
    class="bg-cover bg-center h-screen w-full"
    style="
      background-image: url('https://image.lexica.art/full_webp/2bf420ad-3dd9-4436-81e1-efe59ccc4570');
    "
  >
    <div
      class="bg-black bg-opacity-50 h-full flex flex-col items-center justify-center"
    >
      <h1 class="text-white text-4xl font-bold">JoalheriaApp</h1>
      <p class="text-white">
        Desenvolvido por
        <a
          class="hover:text-blue-700 hover:shadow-lg transition"
          href="http://github.com/JoaoIto"
          >JoaoIto</a
        >
        e
        <a
          class="hover:text-blue-700 hover:shadow-lg transition"
          href="http://github.com/thiagoshowza"
          >Thiago Showza</a
        >
      </p>
    </div>
  </header>

  <!-- Search -->
  <div class="py-4 bg-white shadow-md">
    <div class="container m-2 px-4">
      <label class="text-2xl" for="search">Pesquisar por uma joia: </label>
      <input
        id="search"
        type="text"
        placeholder="Buscar produtos..."
        class="w-full p-2 border border-gray-300 rounded"
      />
    </div>
  </div>

  <!-- Products Section -->
  <main class="container mx-auto px-4 py-8 flex-1">
    <div *ngFor="let category of categories" class="mb-8">
      <h2 class="text-2xl font-bold mb-4">{{ category.title }}</h2>
      <div 
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
      >
        <div
          *ngFor="let product of category.products"
          class="bg-white p-4 rounded shadow hover:shadow-lg transition"
        >
          <img
          [src]="product.nomeImagem"
          [alt]="product.joiaDTO.nome"
            class="w-full h-48 object-cover mb-4 rounded"
          />
          <h3 class="text-xl font-semibold mb-2">{{ product.joiaDTO.nome }}</h3>
          <p class="text-gray-700 mb-2">{{ product.joiaDTO.descricao }}</p>
          <p class="text-gray-900 font-bold mb-2">
            {{ product.joiaDTO.preco }}
          </p>

          <div class="flex items-center mb-4">
            <button (click)="decrementQuantity(product.id)" class="bg-gray-200 px-2 py-1 rounded-l">-</button>
            <input type="text" [value]="quantities[product.id] || 1" class="w-12 text-center border border-gray-300" readonly>
            <button (click)="incrementQuantity(product.id)" class="bg-gray-200 px-2 py-1 rounded-r">+</button>
          </div>

          <button
            (click)="adicionarAoCarrinho(product)"
            class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700"
          >
            Adicionar ao Carrinho
          </button>
        </div>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer class="bg-gray-800 text-white py-4">
    <div class="container mx-auto px-4 text-center">
      <p>
        Desenvolvido por
        <a
          class="hover:text-blue-700 hover:shadow-lg transition"
          href="http://github.com/JoaoIto"
          >JoaoIto</a
        >
        e
        <a
          class="hover:text-blue-700 hover:shadow-lg transition"
          href="http://github.com/thiagoshowza"
          >Thiago Showza</a
        >
      </p>
    </div>
  </footer>
</div>
