<div class="bg-gray-100 min-h-screen flex flex-col">
    <!-- Navbar -->
    <nav class="bg-blue-500 text-white py-4">
        <div class="container mx-auto px-4 flex justify-between items-center">
            <h1 class="text-2xl font-bold">JoalheriaApp</h1>
            <!-- Botão de voltar para a dashboard -->
            <button mat-button routerLink="/" color="warn">Voltar para a Dashboard</button>
        </div>
    </nav>

    <!-- Conteúdo do carrinho -->
    <main class="container mx-auto px-4 py-8 flex-1">
        <h2 class="text-2xl font-bold mb-4">Carrinho</h2>
        <div *ngIf="carrinhoItens.length > 0; else emptyCart">
            <!-- Renderizar os itens do carrinho -->
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                <!-- Aqui você pode iterar sobre os itens do carrinho e exibir cada um -->
            </div>
        </div>
        <ng-template #emptyCart>
            <!-- Mensagem de carrinho vazio -->
            <p class="text-red-500">Não há itens no carrinho</p>
            <!-- Botão para ir para a dashboard -->
            <button mat-button routerLink="/" class="bg-red-600 rounded p-2 text-white hover:bg-blue-700 hover:shadow-lg transition">Comprar Agora</button>
        </ng-template>
    </main>

    <!-- Footer -->
    <footer class="bg-gray-800 text-white py-4">
        <div class="container mx-auto px-4 text-center">
            <p>Desenvolvido por <a class="hover:text-blue-700 hover:shadow-lg transition" href="http://github.com/JoaoIto">JoaoIto</a> e <a class="hover:text-blue-700 hover:shadow-lg transition" href="http://github.com/thiagoshowza">Thiago Showza</a></p>
        </div>
    </footer>
</div>
