<div class="bg-gray-100 min-h-screen flex flex-col">
    <!-- Header -->
    <header class="bg-cover bg-center h-64 w-full" style="background-image: url('https://image.lexica.art/full_webp/04cf14e9-1f19-43de-af90-ee1388708c48');">
      <div class="bg-black bg-opacity-50 h-full flex flex-col items-center justify-center">
        <h1 class="text-white text-4xl font-bold">Opções de Pagamento</h1>
        <p class="text-white">Escolha sua forma de pagamento</p>
      </div>
    </header>
  <!--Pedido informações - Pagamento-->
    <section class="container mx-auto px-4 py-8 flex-1">
      <h2 class="text-2xl font-bold mb-4">Informações do pagamento</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        <div *ngFor="let pagamento of pagamentos" class="bg-white p-6 rounded shadow hover:shadow-lg transition">
          <h3 class="text-xl font-semibold mb-2">Dados do pagamento</h3>
          <p class="text-gray-700 mb-4">Valor Total: R$ {{ pagamento.valorTotal }}</p>
          <p class="text-gray-700 mb-4">Status: {{ pagamento.status.label }}</p>
          <p class="text-gray-700 mb-4">Data do Pagamento: {{ pagamento.dataPagamento }}</p>
       </div>
      </div>
    </section>
    <!-- Payment Options Section -->
    <main class="container mx-auto px-4 py-8 flex-1">
      <h2 class="text-2xl font-bold mb-4">Escolha a forma de pagamento</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        <div class="bg-white p-6 rounded shadow hover:shadow-lg transition">
          <h3 class="text-xl font-semibold mb-2">Cartão de Crédito</h3>
          <p class="text-gray-700 mb-4">Pague com seu cartão de crédito.</p>
          <a href="/pagamento/cartao" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 block text-center">Selecionar</a>
        </div>
        <div class="bg-white p-6 rounded shadow hover:shadow-lg transition">
          <h3 class="text-xl font-semibold mb-2">PIX</h3>
          <p class="text-gray-700 mb-4">Pague com PIX.</p>
          <a href="/pagamento/pix" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 block text-center">Selecionar</a>
        </div>
        <div class="bg-white p-6 rounded shadow hover:shadow-lg transition">
          <h3 class="text-xl font-semibold mb-2">Boleto</h3>
          <p class="text-gray-700 mb-4">Pague com boleto bancário.</p>
          <a href="/pagamento/boleto" class="bg-yellow-600 text-white px-4 py-2 rounded hover:bg-yellow-700 block text-center">Selecionar</a>
        </div>
      </div>
    </main>
  
    <!-- Footer -->
    <footer class="bg-gray-800 text-white py-4">
      <div class="container mx-auto px-4 text-center">
        <p>Desenvolvido por <a class="hover:text-blue-700 hover:shadow-lg transition" href="http://github.com/JoaoIto">JoaoIto</a> e <a class="hover:text-blue-700 hover:shadow-lg transition" href="http://github.com/thiagoshowza">Thiago Showza</a></p>
      </div>
    </footer>
  </div>
  